<div class="contatiner">
    <h1>Entrar</h1>
        <div class="email">
            <mat-form-field class="example-full-width">
                <mat-label>Digite o seu email</mat-label>
                <input type="email" matInput placeholder="Exemplo@gmail.com" required="Email">
              </mat-form-field>
        </div>
        <div class="senha">
            <mat-form-field class="example-full-width">
              <mat-label>Digite o sua senha</mat-label>
              <input type="password" matInput placeholder="Digite sua senha" required="password">
            </mat-form-field>
        </div>
          <a href="/registro"><button mat-flat-button>Entrar</button></a>
          <a href="/resetSenha"><button  mat-stroked-button>Esqueci a senha</button></a>
</div>
